body{
    padding:0;
    margin:0;
}
h1,h2,h3,h4,h5,h6{padding:0;}
ul{
    list-style: none;
    padding:0;
}
a{
    text-decoration: none;
    color:#000;
}

.App{
    display: flex;
    width: 100%;
    max-width: 940px;
    margin:auto;
}
.App > div{
    width: 50%;
    padding:20px;
    box-sizing: border-box;
}

.detail{
    text-align: center;
    position:relative
}
.detail .on::after{
    background-color: tomato;
    color:#fff;
    content: '좋아요!';
}
.detail .off::after{
    background-color: slateblue;
    color:#fff;
    content: '싫어요!';    
}

.detail .like{
    position: absolute;
    left:10px;
    top:10px;
    background-color: transparent;
    font-size: 2em;
    border:0;
    cursor: pointer;
}
.detail .like::after{
    /* content: '좋아요!'; */
    position: absolute;
    bottom:0;
    /* background-color: tomato; */
    /* color:#fff; */
    white-space: nowrap;
    padding:5px;
    border-radius: 10px;
    font-size: 1rem;
    opacity: 0;
    transition: all .5s;
}
.detail .like:hover::after{
    opacity: 1;
}

.detail h2{
    font-size: 1.25em;
}

.detail h2 span{
    background-color: #333;
    color:#fff;
    padding:5px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size:1rem;
}

.detail img{
    width: 100%;
    max-width: 200px;
}

.pokemons{
    display: flex;
    height: 900px;
    width: 100%;
    max-width: 400px;
    flex-flow: column wrap;
    justify-content:flex-start;
    align-items: flex-start;
}
.pokemons li{
    width: 31%;
    cursor: pointer;
    padding:10px;
    box-sizing: border-box;
    border-radius: 20px;
    margin:1%;
    text-align: center;
}
.pokemons li h3{
    font-size: 1.125em;
}
.pokemons li img{
    width: 100%;
    max-width: 80px;
}
.like-options{
    display: flex;
    justify-content: space-between;
}
.like-options li{
    cursor: pointer;
    text-align: center;
    padding:10px 0;
    width: 45%;
    border:1px solid #d2d2d2;
    border-radius: 10px;
    transition: all .3s;
}
.like-options li:hover{
    background-color: crimson;
    color:#fff;
}

.search-form{
    width: 100%;
    display: flex;
}
.search-form input[type='text']{
    width: 80%;
    border:0;
    padding:10px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    font-size: 1.25em;
}
.search-form button{
    width: 20%;
    font-size: 1.25em;
    border:0;
    background-color: tomato;
    color:#fff;    
}

.types{
    display: flex;
    flex-wrap: wrap;
}
.types li{
    padding:10px;
    cursor: pointer;
    font-size: 1.25em;
    color:#333;
}
.types li.on{
    color:tomato
}
.pokemons li{background-color: #d2d2d2;}
.pokemons li.psychic{background-color: purple;color:#fff}
.pokemons li.normal{background-color: gray;}
.pokemons li.bug{background-color: green;}
.pokemons li.ground{background-color: brown;}
.pokemons li.steel{background-color: slategray;}
.pokemons li.fairy{background-color: thistle;}
.pokemons li.water{background-color: blue;color:#fff}
.pokemons li.dark{background-color: black;color:#fff}
.pokemons li.fire{background-color: crimson;color:#fff}
.pokemons li.ice{background-color: beige;}
.pokemons li.fighting{background-color: chocolate;}
.pokemons li.electric{background-color: yellow;}
.pokemons li.rock{background-color: steelblue;}
.pokemons li.grass{background-color: greenyellow;}
